<html>
<title>Body Mass Index</title>
<style>
body
{
background-color:rgb(0, 252, 206);
}
.edge {
width: 1650px;
margin-left: auto;
margin-right: auto;
padding-top: 400px;
padding-left: 350px;
}
.box {
display:block;
border: solid 7px peru;
width: 700px;
min-height: 400px;
font-size: 40px;
background-color: rgb(130, 191, 238);
}
.formelt{
color: blue;
text-align: center;
margin-top: 7px;
margin-bottom: 7px;
}
</style>
</head>
<body>
<div class= "edge">
<div class= "box">
<h1>Body Mass Index</h1>
<h2>k.vishwathini(25016664)</h2>
<form method="POST">
{% csrf_token %}
<div class= "formelt">
Weight: <input type= "text" name="Weight" value="{{Weight}}"></input>(in kg)<br/>
</div>
<div class= "formelt">
Height: <input type="text" name="Height" value="{{Height}}"></input>(in m)<br/>
</div>
<div class= "formelt">
<input type="submit" value="Calculate"><br/>
</div>
<div class= "formelt">
bmi: <input type="text" name="bmi" value="{{bmi}}" align:"center"></input>kg/m<sup>3</sup><br/>
</div>
</form>
</div>
</div>
</body>
</html>

